<% @kids.each do |kid| %>
  <p>
    <%= link_to kid.first_name, kid_posts_path(kid.id) %>,
    <%= kid.birthdate %>
    <%= link_to 'Edit', edit_kid_path(kid) %>
  </p>
<% end %>

<% if !@kids.present? %>
  <p><%= link_to "Enter your kid's information", new_kid_path %></p>
<% end %>
