<div class="card ">
  <div class="card-block">
    <h4 class="card-title post-show-title">Create Android Shortcut</h4>
    <h6 class="card-subtitle text-muted">Add shortcut to your home screen, just like a native app</h6>
  </div>

  <div class="row">
      <div class="android-body col-md-5">
        <ul class='help-steps'>
          <li>Open up the <span class='help-bold'>Chrome</span> browser</li>
          <li>Log into <span class='help-bold'>Things My Kids Said</span></li>
          <li>Tap the <span class='help-bold'>three vertical dots</span></li>
          <li>Tap <span class='help-bold'>Add to home screen</span></li>
        </ul>
      </div>
      <div class='col-md-3 help-image-container'>
        <%= image_tag("android-shortcut.jpg", id: 'android-image')  %>
      </div>
  </div>
</div>

