<div class="card card-block">

  <div class="row question">
    <h4 class="card-title post-show-title">Can Friends & Family members create quotes?</h4>
    <div class="answer">
      <p>Yes!  Parents control who can see, and create quotes, for their kids.</p>
      <p>If you are unable to create a quote for a kid in your circles, their parents can grant you this access.</p>
    </div>
  </div>

  <div class="row question">
    <h4 class="card-title post-show-title">Can I access the site through a shortcut on my phone, like an app?</h4>
    <div class="answer">
      <p>Yes!  Click on the "Parents" or "F & F" tabs above to watch a video on how to create a shortcut.</p>
    </div>
  </div>

  <div class="row question">
    <h4 class="card-title post-show-title">How do I associate my spouse/partner with my kids?</h4>
    <div class="answer">
      <ul class='help-steps'>
        <li>Your spouse/partner needs to first create an account</li>
        <li>In the top navigation click <span class='help-bold'>Friends & Family</span></li>
        <li>Click <span class='help-bold'>Manage Parents</span></li>
        <li>Click <span class='help-bold'>Add New Parent</span></li>
        <li>In this form, create the new kid/parent relationship</li>
        <li>Repeat for each kid</li>
      </ul>
    </div>
  </div>

  <div class="row question">
    <h4 class="card-title post-show-title">Can I add in old quotes?</h4>
    <div class="answer">
      <p>Yes!  When you are creating a new quote:</p>
      <ul class='help-steps'>
        <li>In the <span class='help-bold'>When did they say this?</span> field choose <span class='help-bold'>Custom</span></li>
        <li>Enter in the age of the kid <span class='help-bold'>when they said</span> the quote</li>
      </ul>
      <p>We will automatically calculate the rest!</p>
    </div>
  </div>

  <div class="row question">
    <h4 class="card-title post-show-title">Can anyone use Parents Eyes Only?</h4>
    <div class="answer">
      <p>This feature is for parents only.  Sometimes kids say the darnedest things, that even parents don't want to share :)  But definitely want to remember!</p>
      <p>When you are creating a new quote, if you are the parent of the selected kid, you will see, and have access to, the <span class="help-bold">Parents eyes only</span> checkbox.</p>
      <p>If you are not the parent of the selected kid, you will not see, or have access to, this checkbox.</p>
      <p>These quotes will appear in all of the normal timelines, but only visible to the kid's parents.</p>
    </div>
  </div>

  <div class="row question">
    <h4 class="card-title post-show-title">Questions or Feedback?</h4>
    <div class="answer">
      <p><span class="help-contact-us"> <%= mail_to('support@mindonrails.com','Contact us!', subject: "Question/Feedback re: Things My Kids Said") %></span></p>
    </div>
  </div>

</div>
