<div class="card ">
  <div class="card-block">
    <h4 class="card-title post-show-title">Getting Started</h4>
    <h6 class="card-subtitle text-muted">General steps for Friends & Family</h6>
  </div>
  <div class="help-body">
    <ul class='help-steps'>
      <li>Parents give you access to see their kids</li>
      <li>Capture quotes for kids in your circles</li>
      <li>Share comments on kid's quotes</li>
    </ul>
  </div>
</div>
