<div class="card ">
  <div class="card-block">
    <h4 class="card-title post-show-title">Create iPhone Shortcut</h4>
    <h6 class="card-subtitle text-muted">Add shortcut to your home screen, just like a native app</h6>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="1280" height="720" class="embed-responsive-item" src="https://www.youtube.com/embed/Y6-HCxeWOhM?rel=0&amp;showinfo=0&VQ=HD720" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

