<div class="card ">
  <div class="card-block">
    <h4 class="card-title post-show-title">Getting Started</h4>
    <h6 class="card-subtitle text-muted">General steps for parents</h6>
  </div>
  <div class="help-body">
    <ul class='help-steps'>
      <li>Enter in your kid's information</li>
      <li>Link your spouse/partner to your kids</li>
      <li>Capture your kid's quotes</li>
      <li>Invite friends & family</li>
    </ul>

    <p>Access to all of this is through the <span class='help-bold'>menu</span> above!</p>
  </div>
</div>
