<div class="card">
  <h3 class="card-header timeline-header-header main-timeline-header">
  <span id="timeline-header-brand">All Quotes</span>
  </h3>
  <div class="timeline-header-main-block"></div>
</div>
