<div class="card">
  <h3 class="card-header timeline-header-header main-timeline-header">
  <span id="timeline-header-brand">About</span>
  </h3>
  <div class="timeline-header-main-block"></div>
</div>


<div class="card card-block">
  <p>As a parent, or someone that has a child that is close to you, I'm sure what I'm about to relay has happened to you many times.</p>

  <p>You're with your kid, and they say something that is so funny, or so smart, or so cute, that it strikes a chord with you, and you tell yourself that you have to remember that one!  Then at some point later on, you want to tell somebody what they said.  And it usually goes something like this:</p>

  <p>(First we always give some context and set the stage)  <em>"Paula was giving the girls a bath, and I hear some kind of spitting noise coming from Janie..."</em></p>

  <p>(Then we deliver the punchline)  <em>"And then I hear Janie say, "Jackie, that is some serious beat boxing!!"</em></p>

  <p>And these little moments happen over and over and over.  And then days, weeks, months (or even years) later you're chatting with each other, friends or family, and something in the conversation makes you think of that moment, and you try to recount it for them, and you're like, "Yeah, Janie said the funniest thing this one time.  What was it?  Darn, what was it?  It was something about beat boxing, but the way she said it, it was so cute!"</p>

  <p>And this happens again and again.</p>

  <p>It occurred to me that I wanted to capture these little moments, while I can.  So I started thinking about how to do that.  And that's when I came up with the idea for "Things My Kids Said".</p>

  <p>It is a home for parents, friends & family to remember and share all of the funny, cute, honest, precocious things that our kids say!</p>

  <p>It is a website, so you can access it from any device (computer, tablet, phone, etc.).  All you need to do is <%= link_to('sign up', new_user_registration_path, class: 'pink-link') %>, and start capturing all the funny, cute, honest, precocious things that your kid says!</p>

  <p>Thanks!</p>
  <p>Harry Levine</p>
</div>
