<div class="jumbotron">
  <h1 id="display-3">Things My Kids Said</h1>
  <p id="lead">A home for parents, friends & family to remember and share all of the funny, cute, honest, precocious things that our kids say!</p>
  <hr class="m-y-2">
  <p class='landing-buttons-container'>
    <%= link_to "Log In", new_user_session_path, class: 'btn btn-info btn-info-outline', id: 'sign-in-button'  %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info', id: 'sign-up-button' %>
  </p>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oB2uVm3rHkE?rel=0&amp;showinfo=0&VQ=HD720" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row">
  <%= render 'layouts/footer' %>
</div>
