<div class="card card-block">
  <h4 class="settings-titles">Hidden From Timeline</h4>

  <p class='card-text'>You can hide kids' quotes from your homepage timeline feed.  You will still see these kids' quotes in their individual timelines.</p>

  <p>
    Currently hidden:

    <% if @filtered_kids.present? %>
      <% @filtered_kids.each do |kid| %>
        <span class='filtered-kids-container'><%= kid.full_name %></span>
      <% end %>
    <% else %>
      <span class='filtered-kids-none'>none</span>
    <% end %>
  </p>

  <%= link_to "Hide Kid", new_filtered_kid_path, class: 'btn btn-info devise-buttons solid-button normal-button-margin' %>

  <% if @filtered_kids.present? %>
    <%= link_to "Show Kid", filtered_kids_path, class: 'btn btn-info btn-info-outline devise-buttons normal-button-margin' %>
  <% end %>
</div>
