<div class="card">
  <h3 class="card-header side-nav-title"><%= link_to 'Kids', home_path, class: 'side-nav-header-link' %></h3>
  <div class="card-block">
    <%= render 'layouts/side_nav/your_kids' %>
  </div>
</div>
