<% if kids = your_kids %>
  <h5 class="card-title side-nav-sub-titles"><%= link_to 'Yours', kids_path, class: 'text-muted' %></h5>
  <ul class="side-nav-kids">
    <% kids.each do |kid| %>
      <%= content_tag(:li, link_to(kid.first_name.titleize, kid_posts_path(kid.id), class: 'text-muted'), class: 'side-nav-kids' ) %>
    <% end %>
  </ul>
<% end %>

<% if kids = your_friends_and_family %>
  <h5 class="card-title side-nav-sub-titles"><%= link_to 'Friends & Family', friend_and_families_path, class: 'text-muted' %></h5>
  <ul class="side-nav-kids">
    <% kids.each do |kid| %>
      <%= content_tag(:li, link_to(kid.full_name, kid_posts_path(kid.id), class: 'text-muted'), class: 'side-nav-kids' ) %>
    <% end %>
  </ul>
<% end %>
