<div class="panel-group hidden-sm-up" id="accordion">
  <div class="panel side-nav-panel-body">
    <div class="panel-heading girl-background">
      <h4 class="panel-title">
        <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsible-content"><i class="fa fa-search" aria-hidden="true"></i></a>
      </h4>
    </div>
    <div id="collapsible-content" class="panel-collapse collapse side-nav-collapse">
      <div>
        <%= render 'search/form' %>
      </div>
    </div>
  </div>
</div>
