<div class="card card-block">
  <% if @pictures.present? && !edit_pictures && can_destroy_any?(@pictures) %>
    <span class="pull-right"><%= link_to 'Edit', kid_pictures_path(@kid), class: 'pink-link' %></span>
  <% end %>

  <%= render partial: 'pictures/photo_album', locals: { edit_pictures: edit_pictures } %>
</div>


<script>
  function getClassNames(image) {
    var classes    = image.next().attr('class');
    var classArray = classes.split(" ");
    var withDots   = _.map(classArray, function(str){ return "." + str });

    return withDots.join("");
  }

  $('.picture-page').on('click', function() {
    var picture = getClassNames($(this));

    $(picture).modal('show');
  });
</script>
