<div class="modal fade bs-example-modal-sm-<%= picture.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content kids-timeline-modal">
      <%= image_tag picture.photo.url(:medium, false) %>
    </div>
  </div>
</div>
