<h5 class="page-title">Manage Parents</h5>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="family-table">
      <tr>
        <th>Parent</th>
        <th>Parent Of</th>
        <th>Remove Access</th>
      </tr>
    </thead>
    <tbody class="family-table">
      <% @parent_kid_pairs.each do |pair| %>
        <tr>
          <td><%= pair[0].full_name %></td>
          <td><%= pair[1].full_name %></td>
          <td><%= link_to 'Remove', parent_path(pair), method: :delete, data: { confirm: "Delete this person's parent access?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='family-index-button'>
  <%= link_to "Add Parent", new_parent_path, class: 'btn btn-info solid-button devise-buttons' %>
</div>
