/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";
@import "posts";
@import "kids";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,700italic);

// COMMON views

html body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #F4F4F4;
}

.whole-site-container {
  padding-top: 40px;
}

.release-status {
  float: left;
  color: #353535;
  font-size: .65em;
}


// TOP NAVBAR

.top-navbar {
  color: #eceeef;
  background-color: white;
  border-bottom: 1px solid #DADADA;
}

.top-navbar-links {
  color: #353535 !important;
}

.top-navbar-links:hover {
  color: #FC6574 !important;
}

.navbar-brand {
  color: #353535 !important;
}



// SIDE NAVBAR

.side-nav-kids {
  list-style-type: none;
  padding-left: 0;
}

.side-nav-sub-titles {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #818A91;
}

.side-nav-kids {
  font-size: 13px;
}

.side-nav-title {
  font-size: 20px;
  padding: 40px 20px;
  background-color: #696F96;
  border: 1px solid #696F96;
  color: white;
}



// HOME PAGE

.home-create-kid {
  text-align: center;
}
