.comment-count-area {
  border-bottom: 1px solid rgba(0, 39, 59, .08);
  color: #3F4549;
  font-weight: 400;
}

.comment-header {
  padding: 0 15px
}

#comment_body {
  border: 1px solid rgba(0, 39, 59, 0.2);
  padding: 10px;
  border-radius: 4px;
  margin: 15px 0;
  color: $black;
}

.comment-created-at {
  padding-left: 15px;
  color: rgba(0, 39, 59, 0.5);
}

.comment-headline {
  font-style: normal;
  font-weight: 400;
}

.comment-container {
  padding: 5px 0;
}

.comment-edit-buttons {
  font-weight: 300;
  color: rgba(0, 39, 59, 0.5);
}

.comment-thumbnail {
  padding-right: 10px;
}

.comment-edit-buttons {
  padding-left: 10px;
}

@media only screen and (max-width: 1024px) {
  .comment-edit-buttons {
    padding-left: 25px;
  }
}

a.comment-edit-buttons {
  &:hover, &:focus {
    text-decoration: none;
    outline: 0;
  }
}
