#cancel-account {
  margin-top: 50px;
  margin-bottom: 15px;
}

.btn-danger-outline:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger-outline {
  color: #d9534f;
  background-color: transparent;
  background-image: none;
  border-color: #d9534f;
}

.devise-cancel {
  margin-top: 50px;
  margin-bottom: 20px;
}

.devise-buttons {
  margin: 20px 0;
}
