.page-title {
  padding-bottom: 20px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}

.form-title {
  text-align: center;
}

.kids-edit-photo {
  margin-right: 10px;
  border: 1px solid #E5E5E5;
}

.kids-table td {
  vertical-align: middle !important;
}

.kid-buttons {
  margin-right: 15px;
}

@media only screen and (max-width: 767px) {
  #export-posts-button {
    float: none !important;
  }

  #kid_birthdate_1i, #kid_birthdate_2i {
    margin-bottom: 10px;
  }

  .kid-buttons {
    margin-right: 70px;
  }
}
