#display-3 {
  font-size: 5.7rem;
  font-weight: 300;
  margin: 0 0 8px;
}

#lead {
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
}

.jumbotron {
  padding: 64px 32px !important;
}

@media (max-width: 544px) {
  .jumbotron {
    padding: 32px 16px !important;
  }
}

.btn-info-outline:hover {
  color: #fff;
  background-color: $blue;
  border-color: $blue;
}

.btn-info-outline {
  color: $blue;
  background-color: transparent;
  background-image: none;
  border-color: $blue;
}


.jumbotron {
  background-color: white;
}

#sign-in-button {
  margin-right: 10px;
}

.solid-button:hover {
  color: $blue;
  background-color: white;
  border-color: $blue;
}

.solid-button {
  color: white;
  background-color: $blue;
  background-image: none;
  border-color: $blue;
}




// FOOTER

.footer {
  font-size: .8em;
  padding: 30px 0 20px;
}

.footer-text {
  padding-left: 15px;
}

.footer-contact-us a {
  color: $black;
}

.footer-contact-us a:hover {
  color: $pink;
  text-decoration: none;
}

#video-pic {
  max-width: 367px;
  width: 80%;
  height: auto;
}

#video-pic-container {
  text-align: center;
}

#video-pic:hover {
  cursor: pointer;
}

.landing_page_container, .blah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.blah {
  height: 100vh;
  text-transform: uppercase;
}

#topper {
  background-color: white;
}

#feature-1 {
  background-color: $purple;
}

#feature-2 {
  background-color: #F4F4F4;
}

#feature-3 {
  background-color: $blue;
}

#feature-4 {
  background-color: $text-muted-gray;
}

#landing-more {
  background-color: $pink;
}

#landing-footer {
  background-color: white;
}


// #topper, #feature-1, #feature-2, #feature-3, #feature-4 {
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
