.hide-posts-custom-age {
  display: none;
}

.girl-quote {
  color: #FC6574;
}

.boy-quote {
  color: #4cc1fc;
}

.card-block {
  background: white;
}

.card-title, .post-author {
  font-style: italic;
}

.comment, .card-title, .post-author {
  font-size: .8em;
}

.markdown-disclaimer {
  text-align: right;
  font-size: .8em;
}

.post-show-buttons {
  padding-right: .5em;
}
