<section id='call-to-action'>

  <div class="container">
    <h2>Capture it forever!</h2>
    <%= link_to "Sign Up Now", new_user_registration_path, class: 'btn btn-lg btn-info pink-button-solid', id: 'call-to-action-button' %>
  </div>

</section>
