<section class="landing-page-section" id='feature-4'>

  <div class="container">
    <div class="section-flex-container">
      <div class='col-md-6'>
        <h2 class="feature-title">Add pictures that grow with your kids</h2>
        <p class="feature-description">Each quote can have its own unique picture.  This way, your kid's picture will be in keeping with their quote.  And, when you scroll through their timeline, you will see your kids grow, in step with their language and words growing!  For convenience, adding a unique picture is optional. By default, each quote will have the same picture as the previous quote.</p>
      </div>

      <div class='col-md-6 feature-image-container'>
        <%= image_tag("multiple-pics.jpg", class: 'feature-image')  %>
      </div>
    </div>
  </div>

</section>
