<section class="landing-page-section" id='feature-1'>

  <div class="container">
    <div class="section-flex-container">
      <div class='col-md-6 col-md-push-6'>
        <h2 class="feature-title">Capture & share your kid's quotes</h2>
        <p class="feature-description">All the funny, smart, cute things that the kids in your life have said, all in one place, captured forever!  We'll calculate how old they were when they said this.  You can add context and highlight their punchline!</p>
      </div>

      <div class='col-md-6 col-md-pull-6 feature-image-container'>
        <%= image_tag("all-quotes-page.jpg", class: 'feature-image')  %>
      </div>
    </div>
  </div>

</section>
