<section class="landing-page-section" id='feature-2'>

  <div class="container">
    <div class="section-flex-container">
      <div class='col-md-6'>
        <h2 class="feature-title">Include your friends & family</h2>
        <p class="feature-description">Friends & family and can enjoy reading all of your kid's quotes.  They can also capture moments of their own, from the time they have spent with the kids!  Parents can invite friends & family members, and grant them access!</p>
      </div>

      <div class='col-md-6 feature-image-container'>
        <%= image_tag("f-f-permissions.jpg", class: 'feature-image')  %>
      </div>
    </div>
  </div>

</section>
