<footer class='footer'>
  <div>
    <p class='footer-text'>
      <span class="footer-links"><%= link_to 'About', about_path  %> | </span>
      <span class="footer-links"> <%= mail_to('support@mindonrails.com','Contact Us', subject: "Question/Feedback re: Things My Kids Said") %></span>
    </p>
    <p class='footer-text'>
      <%= "\u00A9" %> 2016, Things My Kids Said
    </p>
  </div>
</footer>
